@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
body {
  padding-top: 50px;
}
body.sub-page .jumbotron {
  display: none;
}
.navbar-brand {
  height: 51px;
  width: 51px;
  background-image: url('/imgs/crest.png');
  background-image: none, url('/imgs/hsg.svg');
  background-repeat: none;
  background-size: contain;
  margin-right: 10px;
}
.navbar-brand span {
  display: none;
}
.navbar {
  border: 0px;
  margin-bottom: 21px;
}
.events-block ul,
.events-block li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.events-block ul {
  padding: 5px 3px;
}
.events-block h4 {
  margin-bottom: 2px;
}
footer {
  margin-top: 14px;
  padding: 7px;
}
h1,
.h1 {
  font-size: 27px;
}
h2,
.h2 {
  font-size: 23px;
}
h3,
.h3 {
  font-size: 19px;
}
h4,
.h4 {
  font-size: 14px;
}
h5,
.h5 {
  font-size: 10px;
}
h6,
.h6 {
  font-size: 8px;
}
@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 39px;
  }
  h2,
  .h2 {
    font-size: 28px;
  }
  h3,
  .h3 {
    font-size: 24px;
  }
  h4,
  .h4 {
    font-size: 19px;
  }
  h5,
  .h5 {
    font-size: 15px;
  }
  h6,
  .h6 {
    font-size: 13px;
  }
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
img {
  max-width: 100%;
}
.hsg-header {
  padding: 2em;
  text-align: center;
  width: 100%;
  background: transparent 50% 50% no-repeat url(https://s3-ap-southeast-1.amazonaws.com/cam.hackerspace.sg/latest.jpg);
  background-size: cover;
}
.jumbotron h1 {
  margin: 0;
}
.highlight {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1em;
}
