<div class="box1 clearfix">
  <div class="post clearfix">

    <h2 class="hd-page">Donations</h2>

    <p><span style="color: #000000;">We currently accept monetary donations as well as furniture and equipment that may been suitable for the Hackerspace.</span></p>
    <p><span style="color: #000000;">For monetary donations, we accept cash that can be deposited into our tip jar. We also accept cheques made payable to Hackerspace.SG Pte Ltd. <del datetime="2012-01-15T19:15:58+00:00">Donations via Paypal will be up once we clear some administrative hurdles. </del></span></p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick"><br>
      <input type="hidden" name="hosted_button_id" value="RUE9YMLFF5YD6">
      <p></p>
      <table>
        <tbody>
          <tr>
            <td><input type="hidden" name="on0" value="Donation types">Donation types</td>
          </tr>
          <tr>
            <td>
              <h3>Paypal</h3>
              <select name="os0">
                <option value="Level 1">Level 1 $10.00 SGD</option>
                <option value="Level 2">Level 2 $20.00 SGD</option>
                <option value="Level 3">Level 3 $50.00 SGD</option>
                <option value="Level 4">Level 4 $77.00 SGD</option>
                <option value="Level 5">Level 5 $88.00 SGD</option>
                <option value="Level 6">Level 6 $200.00 SGD</option>
                <option value="Level 7">Level 7 $500.00 SGD</option>
                <option value="Level 8">Level 8 $777.00 SGD</option>
                <option value="Level 9">Level 9 $888.00 SGD</option>
                <option value="Level 10">Level 10 $1,337.00 SGD</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <p><input type="hidden" name="currency_code" value="SGD"><br>
        <input type="image" src="https://www.paypalobjects.com/en_GB/SG/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal â The safer, easier way to pay online."><br>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
      </p>
    </form>
    <p></p><h3 style="height: 50px; vertical-align: middle;"><img src="http://bitcoin.org/img/opengraph.png" style="width: 50px; height: 50px; float: left"><br>
    itcoin</h3>
    <p></p>
    <p></p>
    <p>address: 16YGPs2FoveZFHXPGE9XZjH2s9E9vSkFZG
    </p>
    <p>
      <img src="https://blockchain.info/qr?data=16YGPs2FoveZFHXPGE9XZjH2s9E9vSkFZG&amp;size=200">
    </p>
    <p><span style="color: #000000;"><br>
    </span></p>
    <p>Another convenient way to support us is to simply just consume drinks on alcohol from our fridge and tip our donations jar accordingly. ð</p>
    <p></p>
    <p><span style="color: #000000;">For other donations, please drop a mail to our google group.</span></p>
  </div>
</div>
